<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.panda.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.BusesActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.CafesActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.EmergencyActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.FunActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.HistoryActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.HotelsActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.MunicipalityActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.NatureActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.NearByActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.NightlifeActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.ParkActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.RentActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.RestaurantsActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.ShopsActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.ShuttlesActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.TaxisActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.TrainsActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.TrolleybusesActivity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.WiFiActivity" />

        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s01i01Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s01i02Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s01i03Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s01i04Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s01i05Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s01i06Activity" />

        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s02i01Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s02i02Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s02i03Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s02i04Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s02i05Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s02i06Activity" />

        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i01Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i02Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i03Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i04Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i05Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i06Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i07Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i08Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i09Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s03i10Activity" />

        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i01Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i02Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i03Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i04Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i05Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i06Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i07Activity" />
        <activity android:name="eu.ynalbantov.android.panda.visit.vratsa.c1.c01s04i08Activity" />
    </application>
</manifest>